<pre>{{form.value | json}}</pre>


<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
      novalidate>
  <div class="form-group">
    <input [appTypeahead]="test"
           type="text"
           placeholder="search"
           formControlName="commit"
           class="form-control">

    <app-typeahead #test>
      <app-typeahead-option *ngFor="let commit of (filteredOptions | async)" [value]="commit.commit.message">
        {{commit.commit.message}}<br>
      </app-typeahead-option>
    </app-typeahead>


  </div>
</form>




<pre>{{formMd.value | json}}</pre>
<form (ngSubmit)="onSubmit()"
      [formGroup]="formMd"
      novalidate>

  <div class="form-group">
    <input type="text" mdInput formControlName="commit" class="form-control" [mdAutocomplete]="auto">
  </div>

  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let commit of (filteredOptionsMd | async)" [value]="commit.commit.message">
      {{ commit.commit.message}}
    </md-option>
  </md-autocomplete>
</form>
