input {
  width: 90%;
}

.form-value {
  background-color: darkred;
  color: white;
  transition: all 0.1s ease-in-out;
  overflow-x: auto;
  padding: 5px;
  border-radius: 2px;
}

.form-value.valid {
  background-color: darkgreen;
}

app-typeahead-option .country-flag {
  max-width: 24px;
  margin: 0 10px 0 0;
}

.country-flag {
  width: 100%;
  height: auto;
}

.country-summary {
  margin-left: auto;
  opacity: 0.8;
  font-size: 0.85em;
}
