input {
  width: 90%;
}

.form-value {
  background-color: darkred;
  color: white;
  transition: all 0.1s ease-in-out;
  overflow-x: auto;
  padding: 5px;
  border-radius: 2px;
}

.form-value.valid {
  background-color: darkgreen;
}

.sha {
  justify-self: end;
  margin-left: auto;
  font-size: 0.8em;
  opacity: 0.9;
}
