<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Country"
    [formControl]="country"
    [appTypeahead]="typeahead"
    [displayWith]="displayFn">

  <app-typeahead #typeahead>
    <app-typeahead-option *ngFor="let country of (filteredCountries$ | async)" [value]="country" class="country">
      <img class="country-flag" [src]="country.flag">
      <span class="country-name">{{country.name}}</span>
      <span class="country-summary"><ng-container *ngFor="let alt of country.altSpellings; let last = last;">{{alt}}{{!last ? ', ' : ''}}</ng-container></span>
    </app-typeahead-option>
  </app-typeahead>
</div>

<div class="row">
  <div class="col-5">
    <img *ngIf="country.value" class="country-flag" [src]="country.value?.flag">
  </div>
  <div class="col">
    <dl>
      <dt>Country</dt>
      <dd>{{country.value?.name || '-'}}</dd>
      <dt>Alt. spellings</dt>
      <dd *ngFor="let spelling of country.value?.altSpellings">{{spelling}}</dd>
    </dl>
  </div>
</div>

