/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.app-typeahead-option.app-selected {
  background-color: darkblue !important;
}

.app-typeahead-option:hover {
  background-color: lightblue !important;
}

pre {
  font-family: 'Anonymous Pro', monospace;
}

html {
  font-family: 'Overpass', sans-serif;
}
